body {
  font-family: Arial, Helvetica, sans-serif;
  color: #6b6b6b;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

button {
  background: #333;
  border: 0;
	padding: 10px 20px;
  color: white;
	border-radius: 5px;
}

span {
  font-size: 15px;
}

p {
  color: #999;
  line-height: 150%;
  margin: 0px;
}

h4 {
  font-size: 25px;
  margin: 10px 0px;
}

svg {
  height: 30px;
  vertical-align: middle;
}

header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

header div:last-child {
  margin-left: auto;
}

ul {
  display: flex;
  list-style: none;
  column-gap: 20px;
  margin-right: 10px;
}

.aboutUs, .team1 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  max-width: 800px;
  margin: auto;
}

.aboutUs div, .team1 div {
  max-width: 350px;
}

.aboutUs h1 {
  font-weight: normal;
  font-size: 75px;
  margin: 0px;
}

.team1 h1 {
  font-weight: normal;
  font-size: 35px;
  margin-bottom: 0px;
}

.gallery img {
  max-width: 450px;
  height: auto;
}

.team2 img {
  max-height: 250px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  column-gap: 10px;
  align-self: center;
}

.team2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
}

footer {
  background-color: #292929;
  color: #787878;
  margin: 25px 25px 0px 25px;
}

footer div h5 {
  color: white;
}

.footerSoc {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.footerSoc p {
  padding: 50px 10px;
}

.footerContact {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  text-align: center;
}

.footerCredits {
  display: grid;
  grid-template-rows: repeat(1,1fr);
  row-gap: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  height: 100px;
}

[aria-controls="menu-list"] {
  display: none;
}

@media screen and (max-width: 768px) {
  
  .gallery {
    justify-content: center;
    text-align: center;
  }

  .footerSoc {
    display: grid;
    grid-template-columns: repeat(2,8em);
    text-align: center;
    column-gap: 0px;
  }

  .footerSoc p {
    padding: 15px 0px;
    font-size: 20px;
  }

  .footerContact {
    display: flex;
    flex-direction: column;
    font-size: 150%;
  }

  .footerSoc {
    display: grid;
    grid-template-columns: repeat(2,8em);
    text-align: center;
    column-gap: 0px;
    margin-top: 50px;
  }

  header ul {
    max-height: 0;
    overflow: hidden;
    transition: all;
  }

  .menu {
    display: inline-flex;
    flex-direction: row-reverse;
    padding: 0px;
  }

  [aria-controls="menu-list"] {
		display: flex;
    flex-direction: row;
		margin-bottom: 10px;
	}

	[aria-expanded="true"] ~ ul {
		display: inline-flex;
		max-height: 50px;
  }
 
	[aria-expanded="false"] .close {
		display: none;
	}

	[aria-expanded="true"] .close {
		display: inline-block;
	}

	[aria-expanded="true"] .open {
		display: none;
	}
}

@media screen and (max-width: 375px) {
  .menu {
    display: flex;
    flex-direction: row;
    padding: 0px;
  }

  .gallery img {
  height: auto;
  max-width: 250px;
  }
}